{% extends "bootstrap/base.html" %}
{% block title %}Gif2PNG{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/styles.css">

<div class="container">
    <div class="jumbotron">
        <h1>2020 GIF to PNG converter</h1>
        <p>Do you love GIF as much as we do?</p>
    </div>
    <div class="col-md-12" id="upload-form">
        <h1>Upload new File</h1>
        <form method="POST" enctype="multipart/form-data" action="/">
            <input type=file name=file class="form-control">
            <input type=submit value=Upload class="form-control btn btn-primary">
        </form>
    </div>
    <div class="col-md-12">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    </div>
</div>




{% endblock %}