# CTFs

.DS_Store
.idea

.metadata
.cproject
.project
**/.settings/
**/Debug/

.vscode
**/__pycache__/

/HackTM/find_my_pass.zip
/HackTM/prison_break/prison_break.txt
/UTCTF/curveball.txt
/AeroCTF/memory.dmp
/SecurinetsPrequals/for1.raw
/SecurinetsPrequals/forensics-time.zip
/VolgaQuals/kiddie.ova
/TGHACK/host.vmem
/TGHACK/host.vmem.7z
/WPICTF/block-gate-flag.mov
/HouseplantCTF/imagery.7z
/HouseplantCTF/imagery.raw
/SharkyCTF/dump.mem
/m0leconCTFTeaser/css_ss/
/HSCTF/untitled_audio/
/NoobCTF/memdump
/NoobCTF/memdump.zip
/InCTF/unsolved/crypto/poly_rsa/fx_mod_p.txt
/UIUCTF/unsolved/zip_heck
