<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>3</TotalTime><Application>LibreOffice/6.3.4.2.0$Linux_X86_64 LibreOffice_project/30$Build-2</Application><Pages>9</Pages><Words>3248</Words><Characters>19879</Characters><CharactersWithSpaces>22987</CharactersWithSpaces><Paragraphs>120</Paragraphs></Properties>